<!DOCTYPE html>
<html ng-app="Tombola.Games.Bingo90" ng-controller="MainController" ng-cloak>
<head>
    <meta charset="UTF-8">
    <title>{{gameTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="thirdparty/angular/angular.js"></script>
    <script src="thirdparty/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="scripts/app.js"></script>
    <!--<script src="thirdparty/ionic/js/ionic.bundle.js"></script>-->

    <link href="images/favicon.ico" rel="icon" type="image/png">
    <link rel="shortcut icon" href="images/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="style/bingo-ticket.css">
    <!--<link rel="stylesheet" type="text/css" href="thirdparty/ionic/css/ionic.css">-->
    <!-- -->
    <!--    <link href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet">-->
</head>

<body>

<!--<ion-view title="Login">-->
    <!--    <ion-content padding="'true'" class="has-header">-->
    <!--        <img src="img/5su9J45YRDeCBleNdwH9_pageBanner.png" width="100%" height="auto" style="width: 100%; height: auto;">-->
    <!--        <form class="list">-->
    <!--            <ion-list>-->
    <!--                <label class="item item-input">-->
    <!--                    <span class="input-label">Username</span>-->
    <!--                    <input type="text" ng-model="userLogIn.username" name="username" placeholder="Enter Username">-->
    <!--                </label>-->
    <!--            </ion-list>-->
    <!--            <label class="item item-input">-->
    <!--                <span class="input-label">Password</span>-->
    <!--                <input type="password" ng-model="userLogIn.password" name="password" value="" placeholder="Enter Password">-->
    <!--            </label>-->
    <!--          <label>-->
    <!--            <input type="checkbox" name="remember_me" id="remember_me">-->
    <!--            Remember me on this computer-->
    <!--          </label>-->
    <!--        </form>-->
    <!--        <div class="spacer" style="height: 40px;"></div>-->
    <!--        <button class="button button-balanced button-block " ng-click="userLogIn.logIn()">Log in</button>-->
    <!--    </ion-content>-->
<!--</ion-view>-->


<div ui-view>

</div>

</body>
</html>